body {
    background-color: rgb(20, 20, 20);
}

.top-div {
    width: 98%;
    height: 300px;
    text-align: center;
    background-size: cover;
    margin-left: auto;
    /* Centra horizontalmente */
    margin-right: auto;
    /* Centra horizontalmente */
    background-position: center center;
    margin-top: 10px;
    filter: brightness(0.5);
}

.content-img {
    position: absolute;
    top: 240px;
    left: 5%;
    width: 30%;
    max-width: 350px;
    z-index: 1;
    text-align: center;
}

.content-image {
    width: 90%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.fecha {
    color: white;
    font-weight: 700;
    margin-top: 2px;
}

.options {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.rate {
    color: rgb(197, 197, 197);
    font-size: 22px;
}

#star-icon:hover {
    color: rgb(255, 221, 0);
    scale: 120%;
}

#heart-icon {
    color: rgb(197, 197, 197);
    font-size: 22px;
}

#heart-icon:hover {
    color: rgb(255, 0, 0);
    scale: 120%;
}

#eye-icon {
    color: rgb(197, 197, 197);
    font-size: 24px;
}

#eye-icon:hover {
    color: rgb(110, 217, 77);
    scale: 120%;
}

#pending-icon {
    color: rgb(197, 197, 197);
    font-size: 24px;
}

#pending-icon:hover {
    color: rgb(236, 166, 67);
    scale: 120%;
}

#list-icon {
    color: rgb(197, 197, 197);
    font-size: 22px;
    /* Tamaño del ícono */
}

#list-icon:hover {
    color: rgb(19, 166, 210);
    scale: 120%;
}

.bottom-div {
    color: white;
    width: 60%;
    margin-top: 20px;
    margin-left: 30%;
}

.stars {
    color: rgb(255, 255, 255);
    font-size: 22px;
    transition: color 0.3s, transform 0.3s;
    display: none;
    justify-content: center;
}

.stars i.active,
.stars i:hover {
    color: yellow;
    transform: scale(1.2);
}


@media (max-width: 1400px) {
    .bottom-div {
        margin-left: 37%;
    }
}

@media (max-width: 600px) {
    .content-img{
        left: 35%;
        scale: 120%;
    }

    .bottom-div {
        width: 80%;
        margin-left: 0;
        margin: 200px auto 0;
    }

    
}

.Extras {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.genere {
    display: flex;
}

.platform {
    display: flex;
}

.ex-tag {
    margin-left: 5px;
}

.comment-section {
    margin-top: 75px;
}

.comment-box {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.submit-comment {
    display: flex;
    justify-content: flex-end;
}


.comments-box {
    padding: 10px;
    width: 100%;
    border: rgb(156, 155, 155) solid;
    border-radius: 15px;
    margin-bottom: 15px;
}

.by-box {
    display: flex;

    align-items: flex-end;

    justify-content: space-between;
}

.comments-box {
    color: white;
}

.star-label input[type="radio"]{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}