body {
    background-color: rgb(34, 34, 34);
    color: white;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.comment {
    width: 100%;
    text-align: center;
}

.comment-box {
    width: 80%;
    height: 70px;
    margin-top: 30px;
    border-radius: 10px;
    resize: none;
}

.summit-comment {
    height: 40px;
    border-radius: 15px;
    margin-left: 70%;
}

.divfiltro {
    display: flex;
    justify-content: center;
}

.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    padding-bottom: 0;
    cursor: pointer;
    text-align: center;
}

.title2 i {
    margin-left: 5px;
    margin-bottom: 10px;
}

.title2:hover {
    background-color: rgb(69, 67, 67);
}

.filtros {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filtros > div {
    margin-right: 20px;
}


.fecha{
    all: unset;
    margin-right: 50px;
} 

.likes{
    all: unset;
} 

.filter:hover{
    scale: 105%;
}

.comment-cross {
    display: flex;
    justify-content: space-between;
}

.comment-cross i {
    color: rgb(75, 75, 75);
}

.comment-cross i:hover {
    color: rgb(217, 59, 59);
    scale: 105%;
}

.comments-box {
    padding: 10px;
    width: 80%;
    border: rgb(156, 155, 155) solid;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
}

.by-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}



.list-grid-flex {
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente dentro del contenedor */
    width: 90%;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: auto;
    white-space: nowrap;
}

.list-item-flex {
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    text-align: center;
    background-color: rgb(137, 132, 132);
    border-radius: 6px;
}

.list-details {
    display: flex;
    align-items: center;
}

.list-details p {
    margin-right: 10px;
    /* Espacio entre el párrafo y el icono */
    font-weight: bold;
}

.list-details i {
    margin-bottom: 15px;
    /* Espacio entre el párrafo y el icono */
}

.list-item-flex:hover {
    background-color: rgb(62, 61, 61);
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.filters>div:first-child {
    margin-right: 80px;
}

@media (min-width: 1200px) {

    .comments-box {
        width: 50%;
        margin-left: 25%;
    }
}