body{
    background-color: rgb(20, 20, 20);
}

a{
    width: 19%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.search{
    text-align: center;
    margin-top: 35px;
}

.search-input{
    background-color:rgb(60, 60, 60);
    width: 300px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.search-button{
    border-radius: 10px;
    padding: 4px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.search-button:hover{
    scale: 105%;
}

.headerline{
    display: flex;
    color: white;
    justify-content: space-between;
}

.title1{
    margin: 10px;
    margin-left: 100px;
    padding: 10px;
}

.title2{
    display: flex;
    margin: 10px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 5px;
}

.title2 > p{
    margin-right: 5px;
    margin-bottom: 0;
}

.title2 > i{
    margin-top: 5px;
}


.title2:hover{
   background-color: rgb(69, 67, 67);
}

.filtros{
    display: none;
    position:absolute;
    font-size: 20px;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-left: 50%;
    background-color: #6B6B6B;
    top: 22%;
    right: 75px;
    text-align: center;
    z-index: 1;
    width: 180px;
}

.filtros > form{
    margin-bottom: 0;
}

.filtros.bajo{
    top: 59%;
}

.filtros.active{
    display: block;
}

.filter{
    all: unset;
    margin-bottom: 0;
    width: 160px;
    padding: 10px;
} 

.filter:hover{
    background-color: rgb(52, 52, 52);
}

.filter-down{
    display: flex;
}

.down{
    border: none;
    background-color: transparent;
    color: white;
}

.filter-down > i{
    margin-top: 20px;
    margin-right: 40px;
}

.sub-filtros-gen{
    display: none;
    font-size: 15px;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(118, 118, 118);
    top: 20%;
    right: 180px;
    text-align: center;
    z-index: 1;
}

.sub-filtros-gen > form{
    margin-bottom: 0;
}

.sub-filtros-gen.active{
    display: block;
}

.sub-filtros-plat{
    display: none;
    font-size: 15px;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(118, 118, 118);
    top: 20%;
    right: 180px;
    text-align: center;
    z-index: 1;
}

.sub-filtros-plat > form{
    margin-bottom: 0;
}


.content-grid-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.content-item-flex {
    width: 265px!important;
    margin-bottom: 15px;
    text-align: center; /* Centra el contenido horizontalmente */
}

.content-image {
    width: 90%; 
    height: 370px; 
    border-radius: 5px;
    display: inline-block; 
    object-fit: cover; 
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin-bottom: 5px;
}

.content-details {
    text-align: center;
}

.content-info {
    display: flex;
    flex-direction: column;
}

.content-name {
    font-weight: bold;
}

.content-image:hover{
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
}
.content-item-flex:hover{
    scale: 102%;
}

.not-found{
    color: white;
    font-size: 20px;
    margin-top: 150px;
}

@media (max-width: 600px) {

    .filtros{
        top: 21.5%;
    }

    /* .filtros.active{
        top: 50%;
    } */

}