body{
    background-color: rgb(20, 20, 20);
}

a{
    width: 19%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.title1{
    color: white;
}

.content-grid-flex {
    display: flex;
    flex-wrap: wrap;
}

.content-item-flex {
    width: 265px!important;
    margin-bottom: 5px;
    text-align: center; /* Centra el contenido horizontalmente */
}

.content-image {
    width: 90%; 
    height: 370px; 
    border-radius: 5px;
    display: inline-block; 
    object-fit: cover; 
}

.content-details {
    text-align: center;
}

.content-info {
    display: flex;
    flex-direction: column;
}

.content-name {
    font-weight: bold;
    /* Otros estilos para el nombre */
}

.content-date {
    /* Otros estilos para la fecha */
}


