nav {
    background-color: #333;
    color: #fff;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 0;
    /* Elimina el margen superior */
    border-bottom: #ff0000 1px solid;
}


nav ul {
    list-style-type: none;
    margin: 0;
    /* Establece todos los márgenes a 0 */
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1.5%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    /* Ajusta este valor según sea necesario para centrar verticalmente el texto */
    height: 50px;
    /* Ajusta este valor según sea necesario para centrar verticalmente el texto */
}

nav ul li a:hover {
    color: #ff0000;
}

.hide {
    display: none;
}

.nav_ico {
    margin-right: 7px;
}

.menu {
    display: none;
}

.nav-op a{
    height: 35px;
    padding-top: 12px;
}


/* Responsive adjustments */
@media (max-width: 600px) {

    .nav-op{
        display: flex;
        justify-content: center;
    }

    .menu {
        display: block;
    }

    .nav_ico {
        display: none;
        /* Optional: hide icons on smaller screens */
    }

    .toggle-button {
        display: block;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px;
        margin: 10px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
        /* Hide the navbar items initially */
        padding-bottom: 10px;
    }

    ul.active {
        display: flex;
        /* Display navbar when active */
    }

    ul.off {
        display: none;
        /* Display navbar when active */
    }
}

@media (min-width: 600px) {}



/* .footer {
    
    bottom: 0; 
    width: 100%; 
    background-color: #333; 
    color: white; 
    text-align: center; 
    margin: 0;
}

.foot-content {
    border-top: #ff0000  solid 5px;
    font-size: 18px;  
    font-weight: bold; 
} */