body{
    background-color: rgb(20, 20, 20);
}

a{
    width: 19%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.title1{
    color: white;
    margin: 20px;
    padding-top: 10px ;
}

.list-grid-flex{
    display: flex;
    justify-content: flex-start;  /* Centra los elementos horizontalmente dentro del contenedor */
    width: 90%;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; /* Se mantiene el margen superior como estaba */
    overflow: auto; 
    white-space: nowrap;
}

.list-item-flex{
    height: 40px;
    padding: 10px;
    margin-right: 15px;
    text-align: center;
    background-color: rgb(137, 132, 132);
    border-radius: 6px;
}

.list-details {
    display: flex;
    align-items: center;
}

.list-details p {
    margin-right: 10px; /* Espacio entre el párrafo y el icono */
    font-weight: bold;
}

.list-details i {
    margin-bottom: 15px; /* Espacio entre el párrafo y el icono */
}

.list-item-flex:hover{
    background-color: rgb(62, 61, 61);
}

#new-list-icon{
    margin-right: 5px;
}

.content-grid-flex {
    display: flex;
    justify-content: flex-start;  /* Centra los elementos horizontalmente dentro del contenedor */
    width: 90%;
    height: 365px;
    margin-left: auto;
    margin-right: auto; /* Esto centrará el contenedor .content-grid-flex horizontalmente */
    margin-top: 10px; /* Se mantiene el margen superior como estaba */
    overflow: auto; 
    white-space: nowrap;
    padding: 15px;
}


.content-item-flex {
    /* width: 265px!important; */
    width: 200px;
    margin-right: 15px;
    margin-bottom: 5px;
    text-align: center; /* Centra el contenido horizontalmente */
}

.content-image {
    width: 180px; 
    /* height: 370px;  */
    height: 270px;
    border-radius: 5px;
    display: inline-block; 
    object-fit: cover; 
}

.content-details {
    text-align: center;
}

.content-info {
    display: flex;
    flex-direction: column;
}

.content-name {
    font-weight: bold;
}

.content-item-flex:hover{
    scale: 105%;
}

hr{
    color: white;
}